<html>
<body>
    <h3>Students'Academic Performance Prediction</h3>
<div>
  <form action="/predict" method="POST">
	<label for="a">Gender:</label><br>
    <input type="number" min="0" max="1" step="1" id="a" name="a" required>
    <br>
    <label for="b">Nationality:</label><br>
    <input type="number" min="0" max="13" step="1" id="b" name="b" required>
    <br>
    <label for="c">Educational Stage:</label><br>
    <input type="number" min="0" max="2" step="1" id="c" name="c" required>
	<br>
    <label for="d">Classroom Student Belongs:</label><br>
    <input type="number" min="0" max="2" step="1" id="d" name="d" required>
    <br>
    <label for="e">Course Topic:</label><br>
    <input type="number" min="0" max="11" step="1" id="e" name="e" required>
    <br>
    <label for="f">Semester:</label><br>
    <input type="number" min="0" max="1" step="1" id="f" name="f" required>
	<br>
    <label for="g">Parent Responsible For Student:</label><br>
    <input type="number" min="0" max="1" step="1" id="g" name="g" required>
    <br>
    <label for="j">How Many Times The Student Raises His/Her Hand on Classroom:</label><br>
    <input type="number" min="0" max="100" step="1" id="j" name="j" required>
    <br>
    <label for="k">How Many Times The Student Visits a Course Content:</label><br>
    <input type="number" min="0" max="100" step="1" id="k" name="k" required>
    <br>
    <label for="l">How Many Times The Student Checks The New Announcements:</label><br>
    <input type="number" min="0" max="100" step="1" id="l" name="l" required>
    <br>
    <label for="m">How Many Times The Student Participate on Discussion Groups:</label><br>
    <input type="number" min="0" max="100" step="1" id="m" name="m" required>
    <br>
	<label for="h">Parent Answered The Surveys Which are Provided From School or Not:</label><br>
    <input type="number" min="0" max="1" step="1" id="h" name="h" required>
    <br>
    <label for="i">The Degree of Parent Satisfaction on The School:</label><br>
    <input type="number" min="0" max="1" step="1" id="i" name="i" required>
    <br>
    <label for="n">The Number of Absence Days:</label><br>
    <input type="number" min="0" max="1" step="1" id="n" name="n" required>
    <br>
	<br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>