<html>
<body>
    <h3>Iris Species Classification</h3>
<div>
  <form action="/predict" method="POST">
    <label for="a">1</label>
    <input type="number" step="1" id="a" name="a">
    <br>
    <label for="b">2</label>
    <input type="number" step="1" id="b" name="b">
    <br>
    <label for="c">3</label>
    <input type="number" step="1" id="c" name="c">
    <br>
    <label for="d">4</label>
    <input type="number" step="1" id="d" name="d">
    <br>
	<label for="e">5</label>
    <input type="number" step="1" id="e" name="e">
    <br>
	<label for="f">6</label>
    <input type="number" step="1" id="f" name="f">
    <br>
	<label for="g">7</label>
    <input type="number" step="1" id="g" name="g">
    <br>
	<label for="h">8</label>
    <input type="number" step="1" id="h" name="h">
    <br>
	<label for="i">9</label>
    <input type="number" step="1" id="i" name="i">
    <br>
	<label for="j">10</label>
    <input type="number" step="1" id="j" name="j">
    <br>
	<label for="k">11</label>
    <input type="number" step="1" id="k" name="k">
    <br>
	<label for="l">12</label>
    <input type="number" step="1" id="l" name="l">
    <br>
	<label for="m">13</label>
    <input type="number" step="1" id="m" name="m">
    <br>
	<label for="n">14</label>
    <input type="number" step="1" id="n" name="n">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>